<?xml version="1.0" encoding="UTF-8"?>
<!-- set description and name here; does not need to match others-->
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		description="Automated report Output from PowerSchool See https://github.com/txoof/ASH_Automation"
		name="ASH Automation"
		version="0.5.20221117"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
	<publisher name="Aaron Ciuffo on behalf of ASH">
		<contact email="aaron.ciuffo@gmail.com"/>
	</publisher>
</plugin>